<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
<title>HighCharts Demo</title>
<meta content="This demo shows how to use application metrics"
	name="description" />
<object th:include="fragments/head :: head" th:remove="tag"></object>

<link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/assets/pages/css/left-side-bar.css}" rel="stylesheet"
	type="text/css" />
</head>


<script th:inline="javascript">
	/*<![CDATA[*/
	window.onload=function() {
		document.getElementById("geographyDropdown").style.display = 'none';
		document.getElementById("geographyDropdownLabel").style.display = 'none';
		
		document.getElementById("projectDropdown").style.display = 'none';
		document.getElementById("projectDropdownLabel").style.display = 'none';
		
		document.getElementById("repoDropdown").style.display = 'none';
		document.getElementById("repoDropdownLabel").style.display = 'none';
	}
	var segmentMapString = /*[[${segmentMap}]]*/;
	var segmentMap = JSON.parse(segmentMapString);
	function onTransactionCycleChange() {
		var transactionCycleDropdown = document.getElementById('transactionCycleDropdown');
        var geographyDropdown = document.getElementById("geographyDropdown");
        var transactionCycleSelectedValue = transactionCycleDropdown.options[transactionCycleDropdown.selectedIndex].value;
        if (transactionCycleSelectedValue == "all") {
        	document.getElementById("geographyDropdown").style.display = 'none';
    		document.getElementById("geographyDropdownLabel").style.display = 'none';
    		
    		document.getElementById("projectDropdown").style.display = 'none';
    		document.getElementById("projectDropdownLabel").style.display = 'none';
    		
    		document.getElementById("repoDropdown").style.display = 'none';
    		document.getElementById("repoDropdownLabel").style.display = 'none';
        } else {
     	   processDropdowns(geographyDropdown, transactionCycleSelectedValue, "geographyDropdownLabel");
        }
	}
	
	function onGeographyChange() {
		var geographyDropdown = document.getElementById("geographyDropdown");
        var projectDropdown = document.getElementById("projectDropdown");
        var geographySelectedValue = geographyDropdown.options[geographyDropdown.selectedIndex].value;
        if (geographySelectedValue == "all") {
    		document.getElementById("projectDropdown").style.display = 'none';
    		document.getElementById("projectDropdownLabel").style.display = 'none';
    		
    		document.getElementById("repoDropdown").style.display = 'none';
    		document.getElementById("repoDropdownLabel").style.display = 'none';
        } else {
     	   processDropdowns(projectDropdown, geographySelectedValue, "projectDropdownLabel");
        }
	}
	
	function onProjectChange() {
		var projectDropdown = document.getElementById("projectDropdown");
        var repoDropdown = document.getElementById("repoDropdown");
        var projectSelectedValue = projectDropdown.options[projectDropdown.selectedIndex].value;
        if (projectSelectedValue == "all") {
    		document.getElementById("repoDropdown").style.display = 'none';
    		document.getElementById("repoDropdownLabel").style.display = 'none';
        } else {
     	   processDropdowns(repoDropdown, projectSelectedValue, "repoDropdownLabel");
        }
	}
	
	function processDropdowns(childDropdown, selectedValue, childDropdownLabel) {
	   childDropdown.style.display = 'block';
	   document.getElementById(childDropdownLabel).style.display = 'block';
   	   if (childDropdown.length > 0) {
    	   for (var i = 1; i<childDropdown.length; i++) {
       		   childDropdown.remove(i);
       	   }
       }
       var childDropdownValues = segmentMap[selectedValue];
   	   for (var i = 0; i < childDropdownValues.length; i++) {
   		  var option = document.createElement("option");
   		  option.textContent = childDropdownValues[i].segmentName;
   		  option.value = childDropdownValues[i].segmentKey;
   		  childDropdown.appendChild(option);
  	   }
	}
	/*]]>*/
</script>
<body class="page-container-bg-solid">
	<div class="page-container main">
		<div class="page-content-wrapper">
			<div class="page-head"
				style="background-color: #eff3f8; padding-top: 40px">
				<div class="container">
					<div class="row" style="margin-bottom: 30px">
						<div class="col-md-6">
							<h1>Business Units - Application Metrics</h1>
						</div>
					</div>
					<div class="row" style="margin-bottom: 30px">
						<div class="sidenav">
							<form action="#" th:action="@{/metricsFilter}"
								th:object="${metricsFilter}" method="post">
								<input type="hidden" id="tcHiddenId" th:value="${metricsFilter.transactionCycle}" />
								<input type="hidden" id="geographyHiddenId" th:value="${metricsFilter.geography}" />
								<input type="hidden" id="projectHiddenId" th:value="${metricsFilter.project}" />
								<input type="hidden" id="repoHiddenId" th:value="${metricsFilter.repo}" />
								<p>Metrics Type</p>
								<p>
									<select id="metricTypeSelector" th:field="*{metricsType}">
										<option th:each="metricType : ${metricTypes}"
											th:value="${metricType.key}" th:utext="${metricType.type}" /></option>
									</select>
								</p>
								<p>Transaction Cycle</p>
								<p>
									<select id="transactionCycleDropdown"
										th:field="*{transactionCycle}"
										onchange="onTransactionCycleChange()">
										<option th:value="all" th:utext="All" />
										<option th:each="transactionCycle : ${tcSegments}"
											th:value="${transactionCycle.segmentKey}"
											th:utext="${transactionCycle.segmentName}" /></option>
									</select>
								</p>
								<p id="geographyDropdownLabel">Geography</p>
								<p>
									<select id="geographyDropdown" th:field="*{geography}"
										onchange="onGeographyChange()">
										<option th:value="all" th:utext="All" />
									</select>
								</p>
								<p id="projectDropdownLabel">Project</p>
								<p>
									<select id="projectDropdown" th:field="*{project}"
										onchange="onProjectChange()">
										<option th:value="all" th:utext="All" />
									</select>
								</p>
								<p id="repoDropdownLabel">Repo</p>
								<p>
									<select id="repoDropdown" th:field="*{repo}">
										<option th:value="all" th:utext="All" />
									</select>
								</p>
								<p>
									<input type="submit" value="Submit" />
								</p>
							</form>
						</div>
						<!-- <div class="col-md-6" style="margin-top: 20px">
							<div id="salesByType" style="width: 100%; height: 400px;"></div>
						</div> -->
						<div class="col-md-6" style="margin-top: 20px">
							<div id="chartMetrics" style="width: 100%; height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/homefooter :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var chartDataString = /*[[${chartData}]]*/;
		var chartData = JSON.parse(chartDataString);
		var metricTypeSelect = document.getElementById("metricTypeSelector");
		var title = "";
		var selectedMetricType = metricTypeSelect.options[metricTypeSelect.selectedIndex].value;
		
		$(function() {
			Highcharts.setOptions({
				lang : {
					decimalPoint : '.',
					thousandsSep : ','
				}
			});
			
			//drawSalesByTypeChart();
			if (selectedMetricType == "commit-frequency-trend-comparison"){
				title = "Commit Frequency Trend Comparison"
				drawTrendChartComparison();
			} else if (selectedMetricType == "commit-frequency") {
				title = "Commit Frequency"
				drawPieChartMetricsChart();
			} else {
				title = "Average Build Time (in milliseconds)"
				drawPieChartMetricsChart();
			}
			
		});

		function userAction(componentName) {
			var tcInputField = document.getElementById("tcHiddenId");
			var geographyInputField = document.getElementById("geographyHiddenId");
			var projectInputField = document.getElementById("projectHiddenId");
			var repoInputField = document.getElementById("repoHiddenId");
			
			var tcValue = getPlaceHolderForEmptyOrNull(tcInputField.value);
			var geographyValue = getPlaceHolderForEmptyOrNull(geographyInputField.value);
			var projectValue = getPlaceHolderForEmptyOrNull(projectInputField.value);
			var repoValue = getPlaceHolderForEmptyOrNull(repoInputField.value);
			if (tcValue != componentName 
					&& geographyValue != componentName 
					&& projectValue != componentName
					&& repoValue != componentName) {
				if (tcValue=="all") {
					tcInputField.value = componentName;
					tcValue = componentName;
				} else if (geographyValue=="all") {
					geographyInputField.value = componentName;
					geographyValue = componentName;
				} else if (projectValue=="all") {
					projectInputField.value = componentName;
					projectValue = componentName;
				} else if (repoValue=="all") {
					repoInputField.value = componentName;
					repoValue = componentName;
				}
			}
		    var xhttp = new XMLHttpRequest();
		    xhttp.onreadystatechange = function() {
		         if (this.readyState == 4 && this.status == 200) {
		        	 chartData = JSON.parse(this.responseText);
		         }
		    };
		    xhttp.open("GET", "/getPieChartData/" + selectedMetricType 
		    		+ "/" + tcValue 
		    		+ "/" + geographyValue 
		    		+ "/" + projectValue 
		    		+ "/" + repoValue);
		    xhttp.send();
		}
		
		function getPlaceHolderForEmptyOrNull(input){
			if (input==null || input=="" || input===""){
				return "all";
			}
			return input;
		}
		
		function drawPieChartMetricsChart() {
            var pieChartMetricsChart = Highcharts.chart('chartMetrics', {
                chart: {
                    type: 'pie',
                    margin: 40,
                    options3d: {
                		enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: title
                },
                tooltip: {
                  	pointFormat: "{point.y:,.0f}"
                },
                series: [{
                    name: 'PieChartSeries',
                    colorByPoint:true,
                    point:{
                        events:{
                            click: function (event) {
                                //alert(this.x + " " + this.y);
                                userAction(event.point.name);
                                var chart2 = $('#chartMetrics').highcharts();
                                chart2.series[0].setData(createData());
                                chart2.redraw();
                            }
                        }
                    },   
                    data: (function () {
                       return createData();
                    }())
                    
            	}]
            });
        }

		function createData() {
			var data = [], i;
			var dataJson = chartData;
            var dataArray = dataJson.data;
            for (i = 0; i < dataArray.length; i++) {
            	var dataElement = {
            			name: dataArray[i].name,
                        y: dataArray[i].y
            	};
                data.push(dataElement);
            }
            return data;
		}
		
		function drawTrendChartComparison(){
			var trendComparisonChart = Highcharts.chart('chartMetrics', {

			    title: {
			        text: title
			    },

			    yAxis: {
			        title: {
			            text: 'Number of Commits'
			        }
			    },
			    legend: {
			        layout: 'vertical',
			        align: 'right',
			        verticalAlign: 'middle'
			    },

			    plotOptions: {
			        series: {
			            label: {
			                connectorAllowed: false
			            }
			        }
			    },

			    xAxis: {
			        categories: chartData.categories
			    },
			    
			    series: chartData.dataArray,

			    responsive: {
			        rules: [{
			            condition: {
			                maxWidth: 500
			            },
			            chartOptions: {
			                legend: {
			                    layout: 'horizontal',
			                    align: 'center',
			                    verticalAlign: 'bottom'
			                }
			            }
			        }]
			    }

			});
		}
		
		function drawSalesByTypeChart() {
			var salesByTypeChart = Highcharts.chart('salesByType', {
				chart : {
					type : 'column',
					margin : 75,
					options3d : {
						enabled : true,
						alpha : 15,
						beta : 15,
						depth : 110
					}
				},
				title : {
					text : 'Code Coverage'
				},
				xAxis : {
					categories : [ 'January', 'February', 'March' ]
				},
				yAxis : {
					title : {
						text : 'Coverage (%)'
					}
				},
				tooltip : {
					pointFormat : "{point.y:,.0f}"
				},
				plotOptions : {
					column : {
						depth : 60,
						stacking : true,
						grouping : false,
						groupZPadding : 10
					}
				},
				series : [ {
					name : 'CardNG',
					data : /*[[${CardNG}]]*/[]
				}, {
					name : 'BAPI',
					data : /*[[${BAPI}]]*/[]
				}, {
					name : 'CL',
					data : /*[[${CL}]]*/[]
				} ]
			});
		}
		/*]]>*/
	</script>
</body>
</html>